name = "wrldone"
main = "dist/_worker.js"
compatibility_date = "2024-01-01"

[env.production]
name = "wrld-one"
route = { pattern = "wrld.one/*", zone_name = "wrld.one" }

[env.staging]
name = "wrld-one-staging"

# Assets configuration
[assets]
directory = "./dist"

# Observability configuration
[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = false
persist = true
head_sampling_rate = 1
